<div class="container post-container">
  <div class="section">
    <!-- Title -->
    <h2 class="title">
      <%- page.title %>
    </h2>
    <!-- Date and Author -->
    <p class="subtitle is-7 has-text-grey" style="padding-top: 5px;">
        <%= page.date.format(config.date_format) %>
        <% if(!page.author) { %>
          by <a href="https://timqian.com">timqian</a>
        <% } %>
    </p>
    <!-- Content -->
    <article class="markdown-body">
    <%- page.content %>
    </article>
    <br/>
    <div id="disqus_thread">
      Using disqus as comment system
    </div>
  </div>
</div>

<% if (config.disqus_shortname){ %>
  <script>
    var disqus_shortname = '<%= config.disqus_shortname %>';
    <% if (page.permalink){ %>
    var disqus_url = '<%= page.permalink %>';
    <% } %>
    (function(){
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//go.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
<% } %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@1.2/dist/disqusjs.css">
<script src="https://cdn.jsdelivr.net/npm/disqusjs@1.2/dist/disqus.js"></script>

<script>
var dsqjs = new DisqusJS({
  shortname: 't9tio',
  apikey: 'ZIJEj12O1ov7A9gdzT2RayJoaZT3CcBj5s5gRhL9vdnZaBzIvpMX4k1DVDim59mQ',
});
</script>