<div class="container post-container">
  <div class="section">
    <!-- Title -->
    <h2 class="title">
      <%- page.title %>
    </h2>
    <!-- Date and Author -->
    <p class="subtitle  is-7">
        <%= page.date.format(config.date_format) %>
        <% if(page.author) { %>
            by <%- page.author %>
        <% } %>
    </p>
    <!-- Content -->
    <article class="markdown-body">
    <%- page.content %>
    </article>
    <br/>
    <div id="disqus_thread">
      Using disqus as comment system
    </div>
  </div>
</div>

<% if (config.disqus_shortname){ %>
  <script>
    var disqus_shortname = '<%= config.disqus_shortname %>';
    <% if (page.permalink){ %>
    var disqus_url = '<%= page.permalink %>';
    <% } %>
    (function(){
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//go.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
<% } %>